<h2><%= t('.title', resource: resource.model_name.human) %></h2>

<%= bootstrap_form_with(model: resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, local: true) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div><%= t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email) %></div>
  <% end %>

  <div class="field">
    <% if @minimum_password_length %>
      <% mp = t('devise.shared.minimum_password_length', count: @minimum_password_length) %>
    <% end %>

    <%= f.password_field :password, autocomplete: "new-password", help: "#{mp} #{t('.leave_blank_if_you_don_t_want_to_change_it')}" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.password_field :current_password, autocomplete: "current-password", help: "(#{t('.we_need_your_current_password_to_confirm_your_changes')})" %>
  </div>

  <div class="actions">
    <%= f.primary t('.update') %>
  </div>
<% end %>

<h3><%= t('.cancel_my_account') %></h3>

<p><%= t('.unhappy') %> <%= button_to t('.cancel_my_account'), registration_path(resource_name), data: { confirm: t('.are_you_sure') }, method: :delete, class: 'btn btn-danger' %></p>

<%= link_to t('devise.shared.links.back'), :back %>
