<h2><%= t('.sign_up') %></h2>

<%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "new-password", 
      help: "#{t('devise.shared.minimum_password_length', count: @minimum_password_length) if @minimum_password_length }" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="d-none">
    <%= f.time_zone_select :time_zone, nil, { default: browser_time_zone.name }, { class: "d-none" } %>
  </div>

  <div class="actions">
    <%= f.primary t('.sign_up') %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
