<h2><%= t('.forgot_your_password') %></h2>

<%= bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.primary t('.send_me_reset_password_instructions') %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
