<h2><%= t('.sign_in') %></h2>

<%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me, switch: true %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.primary t('.sign_in') %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
