<% if signed_in? %>

  <%= link_to t('navigation.account'), edit_user_registration_path %>
  <%= link_to t('navigation.profile'), edit_profile_path %>
  <%= link_to t('navigation.sign_out'), destroy_user_session_path, method: :delete %>

<% else %>
  <%= link_to t('navigation.sign_up'), new_user_registration_path %>
  <%= link_to t('navigation.sign_in'), new_user_session_path %>
<% end %>